/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Overpass|Overlock')
@import url('https://fonts.googleapis.com/css?family=Marck+Script&text=Mahdi%20Chaari')

@import "./variables"

body
  text-shadow: 1px 1px 1px rgba(0,0,0,0.01)

.btn
  font-family: $btn-font-family

//We extend these classes
@import "~angular-bootstrap-md/assets/scss/bootstrap/utilities/borders"

button.copy
  @extend .border, .rounded

  &:hover
    text-decoration: none
